In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Edge(r"C:\Users\lenovo\Downloads\msedgedriver.exe")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_31092\275206676.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Edge(r"C:\Users\lenovo\Downloads\msedgedriver.exe")

# Q1

In [4]:

driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [6]:
locaton= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
locaton.send_keys("Bangalore")

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")

In [8]:
search.click()

In [57]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [93]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)

In [59]:
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tag[ :10]:
    loc=i.text
    job_location.append(loc)

In [60]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[ :10]:
    company=i.text
    company_name.append(company)

In [61]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[:10]:
    experience=i.text
    experience_required.append(experience)

In [62]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [65]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experienced_Required':experience_required})

In [66]:
df

,Title,Location,Company,Experienced_Required
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

# Q3

In [90]:
loc_=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[12]/div[2]/div[3]/label/i')

In [91]:
loc_.click()

In [92]:
sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/i')
sal.click()

In [94]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [95]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)

In [96]:
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tag[ :10]:
    loc=i.text
    job_location.append(loc)

In [97]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[ :10]:
    company=i.text
    company_name.append(company)

In [98]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[:10]:
    experience=i.text
    experience_required.append(experience)

In [99]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [100]:
df_3=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experienced_Required':experience_required})

In [101]:
df_3

,Title,Location,Company,Experienced_Required
0,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
1,Data Analyst / Sr. Data Analyst / Lead,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Client Of Logical Hiring,3-12 Yrs
2,Data Analyst,"Delhi / NCR, Bangalore/Bengaluru, Kolkata, Pun...",Apidel Technologies,4-9 Yrs
3,Data Analyst,"Delhi / NCR, Bangalore/Bengaluru, Kolkata, Ind...",Quickxpert Infotech,0-5 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",Skillety,3-5 Yrs
5,Data Analyst,"Bangalore/Bengaluru, New Delhi",TMD - The Modern Dimension,3-8 Yrs
6,Hiring For Data Analyst Lead Role,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Vrinda Global,3-7 Yrs
7,Sr Business Analyst,"Bangalore/Bengaluru, Noida",Varite India Pvt. Ltd.,3-5 Yrs
8,Senior Business Analyst,"Bangalore/Bengaluru, Noida, Greater Noida",Coforge,7-12 Yrs
9,Social Media & Search Analyst,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Adfactors Pr,2-7 Yrs